.review-container {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.review-header {
    color: #333;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.review-date {
    color: #333;
    font-size: 0.9rem;
    margin-top: 5px;
    display: block;
}

.review-text {
    color: #555;
    margin: 5px 0;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

h3{
    color: #333 !important;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.no-reviews {
    color: #666;
    text-align: center;
}
